button {
  border: unset;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.flex-column {
  flex-direction: column;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-centered-column-md-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .flex-centered-column-md-flex-row {
    flex-direction: row;
  }
}

.flex-centered-column-lg-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 992px) {
  .flex-centered-column-lg-flex-row {
    flex-direction: row;
  }
}

.flex-centered-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 576px) {
  .sm-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .sm-flex-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .lg-flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .lg-flex-row {
    flex-direction: row;
  }
}

h1 {
  margin: unset;
}

h2 {
  margin: unset;
}

h3 {
  margin: unset;
}

h4 {
  margin: unset;
}

h5 {
  margin: unset;
}

h6 {
  margin: unset;
}

.text-primary {
  color: #f33f65;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.position-relative {
  position: relative;
}

.button-arrowed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 3px solid transparent;
  border-radius: 30px;
  background: #f33f65;
  transition: background-color .2s;
  color: #ffffff;
  font-family: 'Righteous', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-arrowed .wrapper-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background: #fff;
}

.button-arrowed .button-arrowed-text {
  padding: 0 16px 2px 16px;
}

.button-arrowed:hover {
  background: #f22752;
}

.button-arrowed:focus {
  outline: none;
  border: 3px solid #c00c32;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1195px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1590px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  height: 400vh;
}

#nav {
  padding: 15px 0;
  box-shadow: -65px -30px 106px rgba(116, 0, 26, 0.23);
  background: #fff;
}

@media (min-width: 768px) {
  #nav {
    padding: unset;
    height: 81px;
  }
}

#nav .item {
  padding-bottom: 15px;
}

@media (min-width: 768px) {
  #nav .item {
    padding-bottom: unset;
  }
}

#nav .item:last-child {
  padding-bottom: unset;
}

@media (min-width: 768px) {
  #nav .gap {
    width: 50px;
  }
}

#nav .text {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

@media (min-width: 576px) {
  #nav .text {
    font-size: 16px;
  }
}

#claim {
  position: relative;
  padding: 50px 0;
  overflow-x: hidden;
  background: black;
  background: url("../img/claim-background.jpg");
  background-size: cover;
}

#claim .block-img {
  position: relative;
  order: 2;
  z-index: 2;
  margin-top: 60px;
  width: 100%;
  max-width: 450px;
}

@media (min-width: 576px) {
  #claim .block-img {
    margin-top: 80px;
  }
}

@media (min-width: 768px) {
  #claim .block-img {
    max-width: 500px;
  }
}

@media (min-width: 992px) {
  #claim .block-img {
    order: 1;
    margin-top: unset;
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  #claim .block-img {
    max-width: 600px;
  }
}

@media (min-width: 1600px) {
  #claim .block-img {
    max-width: 700px;
  }
}

#claim .img {
  width: 100%;
}

@media (min-width: 992px) {
  #claim .img {
    width: 90%;
  }
}

#claim .block-img-text {
  margin: -60px auto 0 auto;
}

@media (min-width: 992px) {
  #claim .block-img-text {
    position: absolute;
    bottom: 150px;
    right: -190px;
  }
}

@media (min-width: 1200px) {
  #claim .block-img-text {
    bottom: 180px;
  }
}

@media (min-width: 1600px) {
  #claim .block-img-text {
    bottom: 220px;
  }
}

#claim .price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

#claim .price-crossed {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

#claim .price-crossed::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 2px;
  transform: translate(-50%, -50%) rotate(-20deg);
  background: #f33f65;
}

#claim .price-new {
  padding: 3px 15px;
  border-radius: 30px;
  background: #f33f65;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}

#claim .text-relative {
  margin-top: 30px;
  margin-left: 5px;
  max-width: 183px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}

#claim .gap-text {
  padding-left: 8px;
}

#claim .block-text {
  position: relative;
  order: 1;
  z-index: 2;
  font-family: 'Righteous', sans-serif;
}

@media (min-width: 992px) {
  #claim .block-text {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    order: 3;
    position: absolute;
    top: 50px;
    right: 20px;
    max-width: 800px;
    text-align: right;
  }
}

@media (min-width: 1200px) {
  #claim .block-text {
    top: 100px;
    right: 60px;
  }
}

@media (min-width: 1600px) {
  #claim .block-text {
    top: 160px;
    right: 10px;
  }
}

#claim .rose-petals {
  display: none;
  position: absolute;
  right: -70px;
  top: -50px;
  z-index: 1;
}

@media (min-width: 992px) {
  #claim .rose-petals {
    display: block;
  }
}

#claim .header {
  display: block;
  text-shadow: -2px 0 0 #ffffff;
  color: #f33f65;
  font-size: 60px;
  font-weight: 400;
  line-height: 66px;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #claim .header {
    font-size: 56px;
    line-height: 60px;
  }
}

@media (min-width: 1200px) {
  #claim .header {
    font-size: 60px;
    line-height: 66px;
  }
}

#claim .subheader {
  display: block;
  color: #000000;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 5.25px;
}

@media (min-width: 992px) {
  #claim .subheader {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 1200px) {
  #claim .subheader {
    font-size: 35px;
    line-height: 42px;
  }
}

#claim .button-arrowed {
  position: relative;
  margin-top: 20px;
  z-index: 2;
}

@media (min-width: 992px) {
  #claim .button-arrowed {
    margin-top: 15px;
  }
}

@media (min-width: 576px) {
  #claim {
    padding: 60px 0;
  }
}

@media (min-width: 992px) {
  #claim {
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px 0 0 0;
  }
}

#claim .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 992px) {
  #claim .container {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media (min-width: 1600px) {
  #claim .container {
    max-width: 1300px;
  }
}

#claim .img-left {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  opacity: .75;
}

@media (min-width: 992px) {
  #claim .img-left {
    display: block;
    left: -60px;
    width: calc(50% + 60px);
    opacity: .8;
  }
}

@media (min-width: 1200px) {
  #claim .img-left {
    left: -80px;
    width: calc(50% + 80px);
    opacity: 1;
  }
}

@media (min-width: 1600px) {
  #claim .img-left {
    left: 0;
    width: 50%;
  }
}

#claim .img-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  transform: scaleX(-1);
  opacity: .75;
}

@media (min-width: 992px) {
  #claim .img-right {
    right: -60px;
    width: calc(50% + 60px);
    opacity: .8;
  }
}

@media (min-width: 1200px) {
  #claim .img-right {
    right: -80px;
    width: calc(50% + 80px);
    opacity: 1;
  }
}

@media (min-width: 1600px) {
  #claim .img-right {
    right: 0;
    width: 50%;
  }
}

@media (min-width: 992px) {
  #claim .gap {
    order: 2;
    width: 50px;
  }
}

#cards {
  padding: 50px 0;
}

#cards .container {
  position: relative;
  z-index: 3;
}

@media (min-width: 1200px) {
  #cards .container {
    margin-top: -110px;
  }
}

@media (min-width: 1600px) {
  #cards .container {
    max-width: 1300px;
  }
}

#cards .card {
  margin-bottom: 40px;
  border-radius: 66px;
  background: #fff;
}

@media (min-width: 992px) {
  #cards .card {
    margin-bottom: unset;
    width: calc(33.33% - 13.33px);
  }
}

@media (min-width: 1200px) {
  #cards .card {
    padding: 0 10px;
    height: 120px;
    box-shadow: 0 0 84px rgba(239, 132, 156, 0.31);
  }
}

@media (min-width: 1600px) {
  #cards .card {
    width: calc(33.33% - 30px);
    height: 132px;
  }
}

#cards .card:last-child {
  margin-bottom: unset;
}

@media (min-width: 768px) {
  #cards .gap {
    width: 20px;
  }
}

@media (min-width: 1600px) {
  #cards .gap {
    width: 45px;
  }
}

#cards .img-wrapper {
  border-radius: 50%;
  width: 112px;
  height: 112px;
  background: #f33f65;
}

@media (min-width: 992px) {
  #cards .img-wrapper {
    width: 92px;
    height: 92px;
  }
}

@media (min-width: 1200px) {
  #cards .img-wrapper {
    width: 102px;
    height: 102px;
  }
}

@media (min-width: 1600px) {
  #cards .img-wrapper {
    width: 112px;
    height: 112px;
  }
}

#cards .gap-inner {
  width: 15px;
}

#cards .block-text {
  width: calc(100% - 127px);
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

@media (min-width: 992px) {
  #cards .block-text {
    width: calc(100% - 107px);
  }
}

@media (min-width: 1200px) {
  #cards .block-text {
    padding-right: 10px;
    width: calc(100% - 117px);
  }
}

@media (min-width: 1600px) {
  #cards .block-text {
    padding-right: 18px;
    width: calc(100% - 127px);
  }
}

#about {
  position: relative;
  padding: 50px 0;
}

@media (min-width: 992px) {
  #about {
    padding: 60px 0 70px 0;
  }
}

@media (min-width: 1200px) {
  #about {
    padding: 30px 0 60px 0;
  }
}

@media (min-width: 1600px) {
  #about .container {
    max-width: 1270px;
  }
}

#about .rose-petals {
  display: none;
  position: absolute;
  width: 150px;
  z-index: 1;
}

@media (min-width: 1200px) {
  #about .rose-petals {
    display: block;
  }
}

@media (min-width: 1600px) {
  #about .rose-petals {
    width: auto;
  }
}

#about .rose-petals-left {
  top: -50px;
  left: 0;
}

@media (min-width: 1600px) {
  #about .rose-petals-left {
    top: -80px;
    left: -10px;
  }
}

#about .rose-petals-right {
  bottom: 0;
  right: 0;
}

@media (min-width: 1600px) {
  #about .rose-petals-right {
    top: 50px;
    right: -100px;
  }
}

#about .block-text {
  position: relative;
  z-index: 2;
}

@media (min-width: 992px) {
  #about .block-text {
    width: calc(50% - 205px);
  }
}

@media (min-width: 1200px) {
  #about .block-text {
    width: calc(50% - 240px);
  }
}

@media (min-width: 1600px) {
  #about .block-text {
    width: calc(50% - 280px);
  }
}

@media (min-width: 992px) {
  #about .gap {
    width: 40px;
  }
}

#about .header {
  color: #f33f65;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
}

#about .p {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

#about .img {
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 487px;
  max-height: 508px;
}

@media (min-width: 768px) {
  #about .img {
    margin: 40px auto;
  }
}

@media (min-width: 992px) {
  #about .img {
    width: 330px;
  }
}

@media (min-width: 1200px) {
  #about .img {
    width: 400px;
  }
}

@media (min-width: 1600px) {
  #about .img {
    width: 480px;
  }
}

#perfume {
  padding: 50px 0 30px 0;
  background: #f33f65;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  #perfume {
    padding: 60px 0 0 0;
  }
}

@media (min-width: 992px) {
  #perfume {
    padding: 60px 0;
  }
}

@media (min-width: 1200px) {
  #perfume {
    padding: 70px 0 60px 0;
  }
}

#perfume .container {
  position: relative;
}

@media (min-width: 1200px) {
  #perfume .container {
    max-width: 1100px;
  }
}

#perfume .block-text {
  margin-top: -40px;
  width: 100%;
  max-width: 320px;
}

@media (min-width: 768px) {
  #perfume .block-text {
    margin-top: -40px;
  }
}

@media (min-width: 992px) {
  #perfume .block-text {
    margin-top: unset;
  }
}

@media (min-width: 768px) {
  #perfume .img {
    width: 200px;
  }
}

@media (min-width: 992px) {
  #perfume .img {
    position: absolute;
    top: -80px;
    width: 300px;
  }
}

@media (min-width: 1200px) {
  #perfume .img {
    top: -90px;
    width: 304px;
  }
}

#perfume .img-left {
  margin-left: 50px;
}

@media (min-width: 992px) {
  #perfume .img-left {
    left: 0;
  }
}

#perfume .img-right {
  display: none;
  transform: scaleX(-1);
}

@media (min-width: 768px) {
  #perfume .img-right {
    display: block;
  }
}

@media (min-width: 992px) {
  #perfume .img-right {
    right: 0;
  }
}

#perfume .wrapper-header {
  border-radius: 27px;
  margin: 0 auto;
  width: 100%;
  height: 53px;
  max-width: 268px;
  background: #fff;
}

#perfume .header {
  display: inline-block;
  color: #f33f65;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 3.9px;
  text-transform: uppercase;
}

#perfume .p {
  margin-top: 30px;
}

* {
  box-sizing: border-box;
}
